<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdg.update">

    <application>
        <provider
            android:name="com.sdg.update.UpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/new_app_file_paths" />
        </provider>
        <service android:name="com.sdg.update.service.DownloadService" />
    </application>

</manifest>
